In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df = pd.read_csv(r"d:\Data-Analytics-Mini-Project\final_dataset.csv")
df.drop('EmployeeNumber', axis=1, inplace=True)

In [21]:
df['Attrition']=df.Attrition.astype('category').cat.codes

In [22]:
df['Department']=df.Department.astype('category').cat.codes
df['EducationField']=df.EducationField.astype('category').cat.codes
df['Gender']=df.Gender.astype('category').cat.codes
df['JobRole']=df.JobRole.astype('category').cat.codes
df['MaritalStatus']=df.MaritalStatus.astype('category').cat.codes
df['OverTime']=df.OverTime.astype('category').cat.codes

In [23]:
df.columns

Index(['Unnamed: 0', 'Age', 'Attrition', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'Gender',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [24]:
df.head()

,Unnamed: 0,Age,Attrition,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,41,1,2,1,2,1,2,0,3,...,3,1,0,8,0,1,6,4,0,5
1,1,49,0,1,8,1,1,3,1,2,...,4,4,1,10,3,3,10,7,1,7
2,2,37,1,1,2,2,4,4,1,2,...,3,2,0,7,3,3,0,0,0,0
3,3,33,0,1,3,4,1,4,0,3,...,3,3,0,8,3,3,8,7,3,0
4,4,27,0,1,2,1,3,1,1,3,...,3,4,1,6,3,3,2,2,2,2

In [25]:
df.MonthlyIncome.describe()

count     1470.000000
mean      6502.931293
std       4707.956783
min       1009.000000
25%       2911.000000
50%       4919.000000
75%       8379.000000
max      19999.000000
Name: MonthlyIncome, dtype: float64

In [26]:
def foo(income):
    if income<2911:
        return 1
    elif income>=2911 and income<4919:
        return 2
    elif income>=4919 and income<8379:
        return 3
    else:
        return 4

In [27]:
df['MonthlyIncome']=df['MonthlyIncome'].apply(foo)

In [28]:
train_ds=df
#del train_ds['Attrition']
train_ds=train_ds.drop('Attrition',axis=1,inplace=False)
#target=df['Attrition']

In [29]:
target=df['Attrition']
target.head()

0    1
1    0
2    1
3    0
4    0
Name: Attrition, dtype: int8

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test=train_test_split(train_ds,target,test_size=0.2,random_state=4)

In [32]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [33]:
k_range=range(1,19)
scores={}

for k in k_range:
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    scores[k]=metrics.accuracy_score(y_test,y_pred)

In [34]:
print(scores)

{1: 0.717687074829932, 2: 0.8333333333333334, 3: 0.7993197278911565, 4: 0.8401360544217688, 5: 0.8401360544217688, 6: 0.8503401360544217, 7: 0.8537414965986394, 8: 0.8537414965986394, 9: 0.8537414965986394, 10: 0.8537414965986394, 11: 0.8503401360544217, 12: 0.8537414965986394, 13: 0.8537414965986394, 14: 0.8537414965986394, 15: 0.8537414965986394, 16: 0.8537414965986394, 17: 0.8537414965986394, 18: 0.8537414965986394}

In [35]:
print(y_pred)
print(y_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
325     0
1165    0
1153    1
1403    0
1019    0
       ..
979     0
790     0
1294    0
15      0
376     0
Name: Attrition, Length: 294, dtype: int8