In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
df = pd.read_csv(r"d:\Data-Analytics-Mini-Project\final_dataset.csv")

In [41]:
df['Attrition']=df.Attrition.astype('category').cat.codes

In [36]:
df['Department']=df.Department.astype('category').cat.codes
df['EducationField']=df.EducationField.astype('category').cat.codes
df['Gender']=df.Gender.astype('category').cat.codes
df['JobRole']=df.JobRole.astype('category').cat.codes
df['MaritalStatus']=df.MaritalStatus.astype('category').cat.codes
df['OverTime']=df.OverTime.astype('category').cat.codes

In [14]:
df.columns

Index(['Unnamed: 0', 'Age', 'Attrition', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [12]:
df.head()

,Unnamed: 0,Age,Attrition,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,41,1,2,1,2,1,1,2,0,...,3,1,0,8,0,1,6,4,0,5
1,1,49,0,1,8,1,1,2,3,1,...,4,4,1,10,3,3,10,7,1,7
2,2,37,1,1,2,2,4,4,4,1,...,3,2,0,7,3,3,0,0,0,0
3,3,33,0,1,3,4,1,5,4,0,...,3,3,0,8,3,3,8,7,3,0
4,4,27,0,1,2,1,3,7,1,1,...,3,4,1,6,3,3,2,2,2,2

In [16]:
df.MonthlyIncome.describe()

count     1470.000000
mean      6502.931293
std       4707.956783
min       1009.000000
25%       2911.000000
50%       4919.000000
75%       8379.000000
max      19999.000000
Name: MonthlyIncome, dtype: float64

In [21]:
def foo(income):
    if income<2911:
        return 1
    elif income>=2911 and income<4919:
        return 2
    elif income>=4919 and income<8379:
        return 3
    else:
        return 4

In [37]:
df['MonthlyIncome']=df['MonthlyIncome'].apply(foo)

In [34]:
train_ds=df
#del train_ds['Attrition']
#train_ds=train_ds.drop('Attrition',axis=1,inplace=True)
#target=df['Attrition']

,Unnamed: 0,Age,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,41,2,1,2,1,1,2,0,3,...,3,1,0,8,0,1,6,4,0,5
1,1,49,1,8,1,1,2,3,1,2,...,4,4,1,10,3,3,10,7,1,7
2,2,37,1,2,2,4,4,4,1,2,...,3,2,0,7,3,3,0,0,0,0
3,3,33,1,3,4,1,5,4,0,3,...,3,3,0,8,3,3,8,7,3,0
4,4,27,1,2,1,3,7,1,1,3,...,3,4,1,6,3,3,2,2,2,2

In [43]:
target=df['Attrition']
target.head()

0    1
1    0
2    1
3    0
4    0
Name: Attrition, dtype: int8

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
x_train,x_test,y_train,y_test=train_test_split(train_ds,target,test_size=0.2,random_state=4)

In [47]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [ ]:
k_range=range(1,5)
score={}
score_list=[]
for k in k_range:
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    scores[k]=