In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
df = pd.read_csv(r"d:\Data-Analytics-Mini-Project\final_dataset.csv")
df.drop('EmployeeNumber', axis=1, inplace=True)

In [77]:
df['Attrition']=df.Attrition.astype('category').cat.codes

In [78]:
df['Department']=df.Department.astype('category').cat.codes
df['EducationField']=df.EducationField.astype('category').cat.codes
df['Gender']=df.Gender.astype('category').cat.codes
df['JobRole']=df.JobRole.astype('category').cat.codes
df['MaritalStatus']=df.MaritalStatus.astype('category').cat.codes
df['OverTime']=df.OverTime.astype('category').cat.codes

In [79]:
df.columns

Index(['Unnamed: 0', 'Age', 'Attrition', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'Gender',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [80]:
df.head()

,Unnamed: 0,Age,Attrition,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,41,1,2,1,2,1,2,0,3,...,3,1,0,8,0,1,6,4,0,5
1,1,49,0,1,8,1,1,3,1,2,...,4,4,1,10,3,3,10,7,1,7
2,2,37,1,1,2,2,4,4,1,2,...,3,2,0,7,3,3,0,0,0,0
3,3,33,0,1,3,4,1,4,0,3,...,3,3,0,8,3,3,8,7,3,0
4,4,27,0,1,2,1,3,1,1,3,...,3,4,1,6,3,3,2,2,2,2

In [81]:
df.MonthlyIncome.describe()

count     1470.000000
mean      6502.931293
std       4707.956783
min       1009.000000
25%       2911.000000
50%       4919.000000
75%       8379.000000
max      19999.000000
Name: MonthlyIncome, dtype: float64

In [82]:
# def foo(income):
#     if income<2911:
#         return 1
#     elif income>=2911 and income<4919:
#         return 2
#     elif income>=4919 and income<8379:
#         return 3
#     else:
#         return 4

In [83]:
# df['MonthlyIncome']=df['MonthlyIncome'].apply(foo)

In [84]:
train_ds=df
#del train_ds['Attrition']
train_ds=train_ds.drop('Attrition',axis=1,inplace=False)
#target=df['Attrition']

In [85]:
target=df['Attrition']
target.head()

0    1
1    0
2    1
3    0
4    0
Name: Attrition, dtype: int8

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
x_train,x_test,y_train,y_test=train_test_split(train_ds,target,test_size=0.2,random_state=4)

In [88]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [89]:
k_range=range(1,19)
scores={}

for k in k_range:
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    scores[k]=metrics.accuracy_score(y_test,y_pred)

In [90]:
print(scores)

{1: 0.7891156462585034, 2: 0.8299319727891157, 3: 0.8095238095238095, 4: 0.8333333333333334, 5: 0.8231292517006803, 6: 0.8503401360544217, 7: 0.8367346938775511, 8: 0.8503401360544217, 9: 0.8367346938775511, 10: 0.8435374149659864, 11: 0.8435374149659864, 12: 0.8469387755102041, 13: 0.8503401360544217, 14: 0.8537414965986394, 15: 0.8537414965986394, 16: 0.8435374149659864, 17: 0.8435374149659864, 18: 0.8401360544217688}

In [91]:
print(y_pred)
print(y_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
325     0
1165    0
1153    1
1403    0
1019    0
       ..
979     0
790     0
1294    0
15      0
376     0
Name: Attrition, Length: 294, dtype: int8

In [92]:
from imblearn.over_sampling import SMOTE

In [93]:
df.head()

,Unnamed: 0,Age,Attrition,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,41,1,2,1,2,1,2,0,3,...,3,1,0,8,0,1,6,4,0,5
1,1,49,0,1,8,1,1,3,1,2,...,4,4,1,10,3,3,10,7,1,7
2,2,37,1,1,2,2,4,4,1,2,...,3,2,0,7,3,3,0,0,0,0
3,3,33,0,1,3,4,1,4,0,3,...,3,3,0,8,3,3,8,7,3,0
4,4,27,0,1,2,1,3,1,1,3,...,3,4,1,6,3,3,2,2,2,2

In [94]:
sm = SMOTE(sampling_strategy='minority', random_state=7)

# Fit the model to generate the data.
oversampled_trainX, oversampled_trainY = sm.fit_resample(df.drop('Attrition', axis=1), df['Attrition'])
oversampled_train = pd.concat([pd.DataFrame(oversampled_trainY), pd.DataFrame(oversampled_trainX)], axis=1)
#oversampled_train.columns = df.columns

In [95]:
dup=oversampled_train[oversampled_train.duplicated()]
print(dup)

      Attrition  Unnamed: 0  Age  Department  DistanceFromHome  Education  \
1608          1          36   24           1                 8          3
2246          1         251   23           1                11          3
2412          1         712   30           1                 9          2

      EducationField  EnvironmentSatisfaction  Gender  JobInvolvement  ...  \
1608               2                        1       1               2  ...
2246               3                        1       0               2  ...
2412               2                        3       0               2  ...

      PerformanceRating  RelationshipSatisfaction  StockOptionLevel  \
1608                  3                         1                 0
2246                  3                         3                 0
2412                  3                         1                 0

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
1608                  4                      2                2
2246                  3                      2                3
2412                  3                      0                3

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
1608               1                   0                        1
2246               2                   1                        0
2412               2                   2                        0

      YearsWithCurrManager
1608                     0
2246                     1
2412                     2

[3 rows x 28 columns]

In [96]:
oversampled_train.drop('Unnamed: 0',axis=1,inplace=True)

In [97]:
oversampled_train.head()

,Attrition,Age,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,2,1,2,1,2,0,3,2,...,3,1,0,8,0,1,6,4,0,5
1,0,49,1,8,1,1,3,1,2,2,...,4,4,1,10,3,3,10,7,1,7
2,1,37,1,2,2,4,4,1,2,1,...,3,2,0,7,3,3,0,0,0,0
3,0,33,1,3,4,1,4,0,3,1,...,3,3,0,8,3,3,8,7,3,0
4,0,27,1,2,1,3,1,1,3,1,...,3,4,1,6,3,3,2,2,2,2

In [98]:
train_ds=oversampled_train
train_ds=train_ds.drop('Attrition',axis=1,inplace=False)
target=oversampled_train['Attrition']
x_train,x_test,y_train,y_test=train_test_split(train_ds,target,test_size=0.2,random_state=4)

In [99]:
k_range=range(1,19)
scores_weighted={}

for k in k_range:
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    scores[k]=metrics.accuracy_score(y_test,y_pred)

In [100]:
print(scores)

{1: 0.6821862348178138, 2: 0.6740890688259109, 3: 0.6538461538461539, 4: 0.6659919028340081, 5: 0.6578947368421053, 6: 0.6518218623481782, 7: 0.6578947368421053, 8: 0.6518218623481782, 9: 0.6437246963562753, 10: 0.6538461538461539, 11: 0.6558704453441295, 12: 0.659919028340081, 13: 0.6497975708502024, 14: 0.6558704453441295, 15: 0.6558704453441295, 16: 0.6659919028340081, 17: 0.6538461538461539, 18: 0.6437246963562753}